<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, sed, sit, minima doloribus omnis voluptate provident voluptatibus quia libero distinctio dolore facilis corrupti dolorem beatae accusamus porro nobis error fuga!
        Deleniti ea saepe atque aut labore, hic sunt quae? Quisquam, ipsam? Vel officiis voluptatibus nam, dolorum velit perferendis architecto laudantium nostrum atque deserunt consequatur ipsa exercitationem. Tenetur doloribus dolorem nisi!
        Quae distinctio exercitationem obcaecati perferendis corrupti rerum eligendi fugiat, totam voluptatem vel repellat molestiae? Iusto possimus tempore explicabo eum officia placeat, voluptatibus similique nobis perspiciatis facere pariatur illo dolorem quod!
        Quia minima hic perferendis, labore blanditiis obcaecati repellat consequuntur vel. Nihil reprehenderit itaque a quasi excepturi soluta eligendi libero doloremque culpa quisquam alias minima, quia repellendus impedit! Illum, tempora provident.</p>
        <a href="/" class="btn btn-primary btn-lg">Home</a>
    </div>
</div>