<div class="jumbotron">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat consequuntur vero voluptas sint culpa laboriosam vitae quos vel amet, a, repellendus sit saepe, dignissimos expedita numquam mollitia magni blanditiis velit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates tenetur odio vero mollitia qui nisi, corporis deserunt dignissimos praesentium sit dolorem iusto eveniet. Nam sit doloremque alias minus unde?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi delectus, necessitatibus iusto, ab quasi dicta ipsum dolore ullam doloremque ipsam distinctio dolorem vero magni corporis inventore qui cumque? Rem, qui.</p>
    <a href="/notes" class="btn btn-primary btn-lg">Notas</a>
    <a href="/about" class="btn btn-primary btn-lg">Acerca de nostros</a>
</div>